<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <title>Java Sınaq İmtahanı (Baza Sualları)</title>
    <link rel="stylesheet" href="styles/quiz.css">
</head>
<body>
<div class="container">
    <h2>Java Sınaq İmtahanı (50 Sual)</h2>
    <div id="loading" class="info message" style="display:block;">Suallar bazadan yüklənir...</div>
    <div id="quiz-form">
    </div>

    <button id="submit-button" style="display:none;">Nəticəni Hesabla və Reytinqə Əlavə Et</button>
    <div id="message" class="message"></div>

    <a href="index.html" style="display: block; text-align: center; margin-top: 20px;">Reytinq Cədvəlinə Qayıt</a>
</div>

<script src="scripts/quiz.js"></script>
</body>
</html>