<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{dashboard/layout.html}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">SB Admin 2</title>


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">



    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">



            <!-- Begin Page Content -->
            <div layout:fragment="content" class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Yeni Mehsul Əlavə Et</h6>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="name">name</label>
                                <input type="text" class="form-control" id="name" th:value="${product.name}" name="name" placeholder="name" required>
                            </div>
                            <div class="form-group">
                                <label for="barcode">barcode</label>
                                <input type="text" class="form-control" id="barcode" th:value="${product.barcode}" name="barcode" placeholder="barcode" required>
                            </div>
                            <div class="form-group">
                                <label for="price">price</label>
                                <input type="number" class="form-control" id="price"th:value="${product.price}" name="price" placeholder="price" required>
                            </div>
                            <div class="form-group">
                                <label for="discount">discount</label>
                                <input type="number" class="form-control" id="discount" th:value="${product.discount}"name="discount" placeholder="discount" required>
                            </div>
                            <div class="form-group">
                                <label for="stock">stock</label>
                                <input type="text" class="form-control" id="stock"th:value="${product.stock}" name="stock" placeholder="stock" required>
                            </div>
                            <div class="form-group">
                                <label for="imageUrl">imageUrl</label>
                                <input type="text" class="form-control" id="imageUrl" th:value="${product.imageUrl}"name="imageUrl" placeholder="imageUrl" required>
                            </div>
                            <div class="form-group">
                                <label for="description">description</label>
                                <input type="text" class="form-control" id="description" th:value="${product.description}"name="description" placeholder="description" required>
                            </div>
                            <div class="form-group">
                                <label for="shortDescription">shortDescription</label>
                                <input type="text" class="form-control" id="shortDescription" th:value="${product.shortDescription}"name="shortDescription" placeholder="shortDescription" required>
                            </div>
                            <div class="form-group">
                                <label for="categories">categoryName</label>
                                <select id="categories" name="categoryId" class="form-control">
                                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${category.id == product.categoryId}"></option>
                                </select>

                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" value="Create">MehSulu Yadda Saxla </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


</body>

</html>