<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{dashboard/layout}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>
    <link  href="/dashboard/css/messages.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">



    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <!-- Begin Page Content -->
            <div layout:fragment="content" class="container-fluid">

                <div class="chat-container">

                    <div class="main-content">
                        <div class="chat-display">
                            <div class="message received">Salam! Necəsən?</div>
                            <div class="message sent">Yaxşıyam, bəs sən? Bu sadə HTML chat dizaynıdır.</div>
                            <div class="message received">Əla görünür!</div>
                        </div>

                        <form method="post">
                        <div class="input-area">

                                <input type="text" id="text" class="message-input" placeholder="Mesajınızı yazın...">
                                <button class="send-button">SEND</button>

                        </div>
                        </form>
                    </div>

                    <div class="sidebar">
                        <h3>İstifadəçilər</h3>
                        <ul>
                            <li>İstifadəçi A</li>
                            <li>İstifadəçi B</li>
                            <li>İstifadəçi C</li>
                        </ul>
                    </div>

                </div>

            </div>


        </div>
        <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

</body>

</html>