<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title layout:fragment="title">Clean Blog - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />

    <link th:href="@{/css/styles.css}" rel="stylesheet" />

    <link th:href="@{/css/chat.css}" rel="stylesheet" />

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">...</nav>
<header class="masthead" th:style="'background-image: url(\'' + @{/assets/img/home-bg.jpg} + '\')'">...</header>

<main layout:fragment="content"></main>

<footer class="border-top">...</footer>

<div id="chat-widget">

    <div class="chat-toggler">
        <div class="chat-icon">
            <i class="fas fa-comment"></i>
        </div>
        <span id="unread-count" class="badge hidden">1</span>
    </div>

    <div id="chat-page" class="hidden">

        <div class="chat-header">
            <span class="header-title">Онлайн Чат</span>
            <button class="close-btn">&times;</button>
        </div>

        <div id="username-page">
            <form id="usernameForm" name="usernameForm">
                <input type="text" id="name" placeholder="Введите ваше имя" autocomplete="off" required />
                <button type="submit" class="btn btn-primary">Начать</button>
            </form>
        </div>

        <div id="chat-area" class="hidden">
            <ul id="messageArea">
            </ul>

            <form id="messageForm" name="messageForm">
                <input type="text" id="messageInput" placeholder="Введите сообщение..." autocomplete="off" required />
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/chat.js}"></script>
</body>
</html>