
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Coffo</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" th:href="@{/front/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/style.css}">
    <link rel="stylesheet" th:href="@{/front/css/responsive.css}">
    <link rel="icon" th:href="@{/front/images/fevicon.png}" type="image/gif"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/front/css/jquery.mCustomScrollbar.min.css}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body>

<div class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/front/images/logo.png}" alt="Coffo Logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" th:classappend="${currentPage == 'home' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item" th:classappend="${currentPage == 'about' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                    <li class="nav-item" th:classappend="${currentPage == 'coffees' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/coffees}">Coffees</a>
                    </li>
                    <li class="nav-item" th:classappend="${currentPage == 'shop' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/shop}">Shop</a>
                    </li>
                    <li class="nav-item" th:classappend="${currentPage == 'blog' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/blog}">Blog</a>
                    </li>
                    <li class="nav-item" th:classappend="${currentPage == 'contact' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="login_bt">
                        <ul>
                            <li><a th:href="@{/login}"><span class="user_icon"><i class="fa fa-user" aria-hidden="true"></i></span>Login</a>
                            </li>
                            <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
    </div>

    <div class="banner_section layout_padding" th:if="${currentPage == 'home'}">
        <div class="container">
            <div id="banner_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">Coffee <br>Shop</h1>
                                    <p class="banner_text">more-or-less normal distribution of letters, as opposed to using </p>
                                    <div class="btn_main">
                                        <div class="about_bt active"><a th:href="@{/about}">About Us</a></div>
                                        <div class="callnow_bt"><a href="#">Call Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="content">
</div>

<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer_social_icon">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="location_text">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10" th:text="${contactInfo.phone}">+01 1234567890</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10" th:text="${contactInfo.email}">demo@gmail.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <form th:action="@{/subscribe}" method="post">
                        <textarea class="update_mail" placeholder="Your Email" rows="5" id="comment" name="email"></textarea>
                        <div class="subscribe_bt">
                            <button type="submit" style="background: none; border: none;">
                                <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free Html
                    Templates</a>
                    Distribution by <a href="https://themewagon.com">ThemeWagon</a></p>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/front/js/jquery.min.js}"></script>
<script th:src="@{/front/js/popper.min.js}"></script>
<script th:src="@{/front/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/front/js/jquery-3.0.0.min.js}"></script>
<script th:src="@{/front/js/plugin.js}"></script>
<script th:src="@{/front/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/front/js/custom.js}"></script>


</body>
</html>
