<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- mobile metas -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="initial-scale=1, maximum-scale=1" name="viewport">
    <!-- site metas -->
    <title>Coffo</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- bootstrap css -->
    <link href="/front/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- style css -->
    <link href="/front/css/style.css" rel="stylesheet" type="text/css">
    <!-- Responsive-->
    <link href="/front/css/responsive.css" rel="stylesheet">
    <!-- fevicon -->
    <link href="/front/images/fevicon.png" rel="icon" type="image/gif"/>
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <!-- Scrollbar Custom CSS -->
    <link href="/front/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <!-- Tweaks for older IEs-->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
<body>
<div class="header_section" style="background: linear-gradient(90deg, #2b1a12, #4d2e1f, #2b1a12);">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html"><img src="/front/images/logo.png"></a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="coffees.html">Coffees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shop.html">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="login_bt">
                        <ul>
                            <li><a href="#"><span class="user_icon"><i aria-hidden="true" class="fa fa-user"></i></span>Login</a>
                            </li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
    </div>

</div>




<div layout:fragment="content">

</div>


<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer_social_icon">
                    <ul>
                        <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="location_text">
                    <ul>
                        <li>
                            <a href="#">
                                <i aria-hidden="true" class="fa fa-phone"></i><span class="padding_left_10">+01 1234567890</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i aria-hidden="true" class="fa fa-envelope"></i><span class="padding_left_10">demo@gmail.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <textarea class="update_mail" id="comment" name="Your Email" placeholder="Your Email"
                              rows="5"></textarea>
                    <div class="subscribe_bt"><a href="#"><i aria-hidden="true" class="fa fa-arrow-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free Html
                    Templates</a>
                    Distribution by <a href="https://themewagon.com">ThemeWagon</a></p>
            </div>
        </div>
    </div>
</div>
<!-- copyright section end -->
<!-- Javascript files-->
<script src="/front/js/jquery.min.js"></script>
<script src="/front/js/popper.min.js"></script>
<script src="/front/js/bootstrap.bundle.min.js"></script>
<script src="/front/js/jquery-3.0.0.min.js"></script>
<script src="/front/js/plugin.js"></script>
<!-- sidebar -->
<script src="/front/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/front/js/custom.js"></script>
</body>
</html>